<%- contentFor( 'body') %>

<div id="page-container">
    <div style="background:transparent !important" class="table-responsive-xl" id="content-wrap">
        <div class="content">
            <div class="content-text">
                <h2>Sobre a aplicação.</h2>
                <p>
                    Aplicação desenvolvida na disciplina de Autoração multimídia II do curso de Sistemas e Mídias Digitais (UFC).
                <b></b>
                    O objetivo da aplicação é construir um sistema de cadastro simples utilizandoHTML5, CSS3 e Javascript com NodeJS.
                <b></b>
                    A aplicação possibilita cadastrar, atualizar e deletar, construído utilizando EJS com arquitetura MVC (Model–View–Controller).
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis sed quam nec tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam sit amet nisi eu nisl vestibulum tincidunt. Morbi rutrum vel orci nec interdum. Sed porttitor felis sit amet mi vehicula facilisis. Aenean finibus ut nisi quis sodales. Suspendisse vitae massa sapien. Cras sagittis odio a urna suscipit dapibus. Vestibulum viverra ut enim sed molestie. Fusce laoreet felis nec tellus molestie, vitae accumsan justo suscipit. Aliquam sagittis posuere leo quis aliquam. Etiam eget congue libero. Curabitur laoreet ultrices erat, et pharetra dolor elementum a.
                    Donec id feugiat mi. Quisque dapibus, lacus eu efficitur dictum, enim eros tincidunt nisl, id ultricies diam libero eu mauris. Maecenas condimentum ornare nunc, ut condimentum nibh vestibulum eget. Nulla faucibus porta lacus, nec congue elit convallis non. Mauris felis sapien, posuere ac porttitor ac, sagittis sit amet odio. Integer varius, turpis a congue fringilla, leo ipsum aliquam sapien, sit amet tempor enim magna vitae felis. Aliquam condimentum dapibus porttitor. Donec felis augue, accumsan pharetra lacus sed, maximus feugiat arcu. Phasellus id lectus at mauris volutpat auctor. Phasellus hendrerit sem cursus eros imperdiet pharetra. Cras quis interdum dui, vel consectetur lorem. Donec ut erat sit amet tortor porttitor imperdiet.</p>
            </div>
            <img src="images/about.png" alt="Desenvolvedor web">
        </div>
    </div>
</div>