<%- contentFor( 'body') %>
<div id="page-container">
    <div style="background:transparent !important" class="table-responsive-xl" id="content-wrap">
        <div class="content">
            <div class="content-text">
                <h2>Bem vindo!</h2>
                <p>Sistema de cadastro construído a fim de aprofundar nossos conhecimentos em JavaScript e NodeJS na disciplina de Autoração Multimídia II no curso de Sistemas e Mídias Digitais (Universidade Federal do Ceará)</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis sed quam nec tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam sit amet nisi eu nisl vestibulum tincidunt. Morbi rutrum vel orci nec interdum. Sed porttitor felis sit amet mi vehicula facilisis. Aenean finibus ut nisi quis sodales. Suspendisse vitae massa sapien. Cras sagittis odio a urna suscipit dapibus.
                    <br>
                    Vestibulum viverra ut enim sed molestie. Fusce laoreet felis nec tellus molestie, vitae accumsan justo suscipit. Aliquam sagittis posuere leo quis aliquam. Etiam eget congue libero. Curabitur laoreet ultrices erat, et pharetra dolor elementum a.
                    <br>
                    Donec id feugiat mi. Quisque dapibus, lacus eu efficitur dictum, enim eros tincidunt nisl, id ultricies diam libero eu mauris. Maecenas condimentum ornare nunc, ut condimentum nibh vestibulum eget. Nulla faucibus porta lacus, nec congue elit convallis non. Mauris felis sapien, posuere ac porttitor ac, sagittis sit amet odio. Integer varius, turpis a congue fringilla, leo ipsum aliquam sapien, sit amet tempor enim magna vitae felis. Aliquam condimentum dapibus porttitor. Donec felis augue, accumsan pharetra lacus sed, maximus feugiat arcu. Phasellus id lectus at mauris volutpat auctor. Phasellus hendrerit sem cursus eros imperdiet pharetra. Cras quis interdum dui, vel consectetur lorem. Donec ut erat sit amet tortor porttitor imperdiet.</p>
                    
                    <p>Phasellus et sodales odio. Vivamus lacus diam, placerat varius mauris id, egestas mollis eros. Phasellus ut justo tortor. Duis sed turpis elit. Curabitur nec ipsum id quam condimentum semper. Integer in mi sit amet ligula varius semper. Morbi porta justo quam, a porta magna ultrices ac. Etiam convallis mauris non odio ullamcorper posuere at id dolor. Aenean volutpat nisl id lorem sagittis placerat. Ut tincidunt aliquet elementum. Pellentesque mauris felis, malesuada nec ultrices id, efficitur iaculis urna. Quisque quis quam et libero consectetur ultricies quis eu sem. Donec quis bibendum turpis.</p>
                    
                    <p>Cras vel scelerisque ligula, eget semper magna. Cras porta ultricies metus in elementum. Vestibulum rhoncus leo vitae justo lobortis pulvinar. Quisque enim lacus, convallis id semper et, hendrerit non dolor. Etiam et eros augue. Etiam pretium hendrerit elementum. Mauris porttitor, lorem in tempor faucibus, augue ex semper tortor, at rutrum enim felis at augue. Nunc at pharetra mauris. Morbi et convallis velit. Nam condimentum quis dolor sed lobortis. Aliquam pellentesque turpis orci, ut iaculis augue molestie nec. Morbi efficitur faucibus nisi, pharetra rutrum nulla porttitor nec.</p>
            </div>
            <img src="images/home.png" alt="Pessoas conversando" class="img">
        </div>
    </div>
</div>